page-start {

    p {
        text-align: justify;
        font-size: 2vh;
        font-size: 4vw;
    }

    .title {
        text-align: center;
        font-size: 5vh;
        font-size: 5vw;
    }

}
