<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div>
    <h2 class="title">Bienvenidos a Fashion Me, tu asesor de imagen personal.</h2>
  </div>
  <p>
    En Fme podrás conocer tu tipología así como tu colorimetría para que puedas escoger las prendas ideales para ti.
  </p>
  <p>
    Te daremos los mejores tips de cómo vestirte y siempre tendrás un look perfecto, aprenderás a utilizar todas las prendas
    que tienes en tu closet y siempre sacarte el mejor provecho.
  </p>
  <p>
    De acuerdo a tus resultados te presentaremos un closet ideal para que armes outfits perfectos para ti, estas prendas las
    podrás adquirir y empezarás a crear un nuevo hábito de compra de acuerdo a tus propias características para verte siempre
    fenomenal.
  </p>
  <p>
    Conocerás todas las tendencias y como estar siempre a la moda utilizando las prendas que mejor te quedan !!!
  </p>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <button ion-button color="dark" (click)="dismiss()" block>Siguiente</button>
  </ion-toolbar>
</ion-footer>