<ion-header>

  <ion-navbar color="dark">
    <ion-title>Iniciar sesión</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

	<form [formGroup]="formLogin" (ngSubmit)="singIn()">
		<ion-list>
			
			<ion-item>
				<ion-icon name="mail" item-left></ion-icon>
				<ion-label floating>Correo electrónico</ion-label>
				<ion-input formControlName="data1" type="email"></ion-input>
			</ion-item>

			<ion-item>
				<ion-icon name="lock" item-left></ion-icon>
				<ion-label floating>Contraseña</ion-label>
				<ion-input formControlName="data2" type="password"></ion-input>
			</ion-item>

			<div id="actions">
				<button ion-button color="dark" type="submit" [disabled]="!formLogin.valid">Entrar</button>
			</div>

		</ion-list>
	</form>

</ion-content>
