<ion-content padding>
	<button ion-button color="dark" block (click)="presentActionSheet()">{{ image == null ? 'Imagenes' : 'Cambiar imagen'}}</button>

	<div id="position" *ngIf="image else imgDemo" class="imgUser">
		<img [src]="image" (tap)="getPosition($event)" />
	</div>

	<ng-template #imgDemo>
		<div class="imgDemo" #pointsImage (click)="presentActionSheet()">
		</div>
	</ng-template>

	<button ion-button color="dark" block (click)="getStart()">Continuar</button>
</ion-content>
<!-- [disabled]="image ? false : true" -->