<ion-header>

  <ion-navbar color="dark">
    <ion-title>Crear cuenta</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

	<ion-item>
		<ion-icon name="person" item-left></ion-icon>
		<ion-label floating>Nombre</ion-label>
		<ion-input name="nombre" type="text" [(ngModel)]="modelo.nombre"></ion-input>
	</ion-item>
	<p *ngIf="errors['nombre']" class="errorName">{{ errors['nombre'] }}</p>

	<ion-row radio-group [(ngModel)]="modelo.sexo" name="sexo">
		<ion-item>
			<ion-icon name="woman" item-left></ion-icon>
			<ion-label>Mujer</ion-label>
			<ion-radio value="m"></ion-radio>
		</ion-item>
		<ion-item>
			<ion-icon name="man" item-left></ion-icon>
			<ion-label>Hombre</ion-label>
			<ion-radio value="h"></ion-radio>
		</ion-item>
	</ion-row>
	<p *ngIf="errors['sexo']" class="errorName">{{ errors['sexo'] }}</p>

	<ion-item>
		<ion-icon name="mail" item-left></ion-icon>
		<ion-label floating>Email</ion-label>
		<ion-input name="email" type="email" [(ngModel)]="modelo.email"></ion-input>
	</ion-item>
	<p *ngIf="errors['email']" class="errorName">{{ errors['email'] }}</p>

	<ion-item>
		<ion-icon name="lock" item-left></ion-icon>
		<ion-label floating>Contraseña</ion-label>
		<ion-input name="password" type="password" [(ngModel)]="modelo.password"></ion-input>
	</ion-item>
	<ion-item>
		<ion-icon name="lock" item-left></ion-icon>
		<ion-label floating>Confirmar contraseña</ion-label>
		<ion-input name="password_confirmation" type="password" [(ngModel)]="modelo.password_confirmation"></ion-input>
	</ion-item>
	<p *ngIf="errors['password']" class="errorName">{{ errors['password'] }}</p>
	
	<div id="actions">
		<button ion-button color="dark" (click)="save()">Guardar</button>
	</div>
</ion-content>
