<ion-header>

  <ion-navbar>
    <ion-title>Mi perfil</ion-title>
    <ion-buttons end>
      <button ion-button icon-only  (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-card>
    <ion-item>
      <h2>{{ user.nombre }}</h2>
      <p>{{ user.email }}</p>
    </ion-item>
    <img [src]="user.image" />

    <ion-card-content>
      <p>Tipo de cuerpo: {{ user.cuerpo }}</p>
      <p>Color: {{ user.color }}</p>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="user.color_ideal">
    <ion-card-header>
      Colores ideales
    </ion-card-header>
    <ion-list>
      <ion-item>
        <img [src]="user.color_ideal">
      </ion-item>
    </ion-list>
  </ion-card>

</ion-content>
