<ion-header>
  <ion-navbar>
    <ion-title>Subcategorías</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="grid-basic-page">

  <ion-item-group>
    <ion-item-divider color="light"  *ngIf="subcategorias[0] else noSubC">Subcategorías de <strong>{{ categoria }}</strong></ion-item-divider>
    <ion-item *ngFor="let subcategoria of subcategorias" (click)="getImages(subcategoria.id, subcategoria.nombre)">
      <!-- <ion-avatar item-start>
        <img [src]="subcategoria.imgen">
      </ion-avatar> -->
      <h2>{{ subcategoria.nombre }}</h2>
    </ion-item>
    <ng-template #noSubC>
      <ion-item>
      <h2>No hay subcategorías en esta categoría.</h2>
      </ion-item>
	  </ng-template>
  </ion-item-group>

</ion-content>