<ion-header>
  <ion-navbar color="dark">
    <ion-title>
      <img src="http://fotos.simplyme.com.mx/img/logo.png" width="200">
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  
	<p><button ion-button color="dark" [navPush]="registerPage">Crear cuenta</button></p>
	<p><button ion-button color="dark" [navPush]="loginPage">Iniciar sesión</button></p>

</ion-content>
