<ion-content padding>

  <ion-list no-lines full>
     <img src="http://fotos.simplyme.com.mx/img/logo.png" width="200">
    <ion-item-group>
      <ion-item-divider color="light">Menú</ion-item-divider>
        <ion-item>
          <button ion-button block color="dark" (click)="openClosetIdeal()" [disabled]="enable">Tu closet ideal</button>
        </ion-item>
        <ion-item>
          <button ion-button block color="dark" (click)="openClosetFM()">FME closet</button>
        </ion-item>
        <ion-item>
          <button ion-button block color="dark" [navPush]="trends">Trends</button>
        </ion-item>
        <ion-item>
          <button ion-button block color="dark">Dress code</button>
        </ion-item>
        <ion-item>
          <button ion-button block color="dark">Tips</button>
        </ion-item>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider color="light">Perfil</ion-item-divider>
      <ion-item>
          <button ion-button block color="dark" [navPush]="profilePage">Ver perfil</button>
      </ion-item>
    </ion-item-group>
  </ion-list>

</ion-content>